.nav__active  {
        position: relative;
        display: block;
     
}
.nav__active::after{
        content:'  ';
         bottom:-4px;
         position: absolute;
         left: 15px;
         right: 15px;
         display: block;
         background-color:  var(--primary);
        height: 1px;
}